<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lieyan.mapper.CirclecolMapper">
    <!--
    数据库的版本不支持open-id,只能下划线
    -->
    <!--查找这个是否成功-->
    <select id="selectcirclecol" resultType="com.lieyan.Entity.Circlecol">
        SELECT  *
        FROM circlecol
        WHERE openid=#{openid} AND circleid=#{circleid}
    </select>


    <!--插入操作这里注意插入操作，是insert，很容易搞错-->
    <!--
    这里用于每次用户微信登录的时候，都会将用户的信息传输到服务器里面,但是只是传输用户
    微信官方数据，其余的数据通过其他insert插入
    -->
    <insert id="circleinsert" parameterType="com.lieyan.Entity.Circlecol">
        INSERT INTO
        circlecol (circleid,openid)
        VALUES (#{circleid},#{openid})
    </insert>


    <update id="circleupdate" parameterType="com.lieyan.Entity.Circlecol">
        UPDATE circlecol
        SET like=#{like}
        WHERE openid=#{openid} AND circleid=#{circleid}
    </update>


    <!--通过id找到相应的数据记录，并且删除他,这里接口几乎用不到，不过可能以后用户
    出现问题，可以通过删除再添加的操作来更新
    -->
    <delete id="circledelete">
        DELETE FROM
        circlecol
        WHERE openid=#{openid} AND circleid=#{circleid}
    </delete>



</mapper>