<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lieyan.mapper.FeedbackMapper">
    <!--
    数据库的版本不支持open-id,只能下划线
    -->
    <!--返回所有教练信息，在教练首页那里需要加载这些数据-->
    <select id="feedback" resultType="com.lieyan.Entity.Feedback">
        SELECT  *
        FROM feedback
    </select>


    <insert id="feedbackinsert" parameterType="com.lieyan.Entity.Feedback">
        INSERT INTO
        feedback (openid,fbtxt)
        VALUES (#{openid},#{fbtxt})
    </insert>




    <!--通过id找到相应的数据记录，并且删除他,这里接口几乎用不到，不过可能以后用户
    出现问题，可以通过删除再添加的操作来更新
    -->
    <delete id="feedbackdelete">
        DELETE FROM
        feedback
        WHERE openid = #{openid}
    </delete>



</mapper>