<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lieyan.mapper.UserMapper">
<!--
数据库的版本不支持open-id,只能下划线
-->
    <!--返回所有记录,这里是列出所有用户，是以open-id的方式列表，这里似乎没用到-->
    <select id="userquery"  resultType="com.lieyan.Entity.User">
        SELECT  *
        FROM user
        ORDER BY openid
        DESC
    </select>

    <!--通过open-id找到对应记录，返回实体-->
    <select id="userquerybyid" resultType="com.lieyan.Entity.User">
        SELECT  *
        FROM user
        WHERE openid= #{openid}
    </select>


    <!--插入操作这里注意插入操作，是insert，很容易搞错-->
    <!--
    这里用于每次用户微信登录的时候，都会将用户的信息传输到服务器里面,但是只是传输用户
    微信官方数据，其余的数据通过其他insert插入
    -->
    <insert id="userinsert"   parameterType="com.lieyan.Entity.User">
        INSERT INTO
        user (openid, nickName, gender,language,city,province,country,avatarUrl,bindteacher,Issign,signitem,moneybalance,Integralnum,couponnum)
        VALUES (#{openid},#{nickName},#{gender},#{language},#{city},#{province},#{country},#{avatarUrl},0,0,0,0,0,0)
    </insert>

    <update id="userupdate" parameterType="com.lieyan.Entity.User">
        UPDATE user

        <!--这里预留，教练可能只能绑定一次-->
        <!--<set>
            <if test="bindteacher= null">bindteacher = #{bindteacher}</if>
        </set>-->
        WHERE openid = #{openid}
    </update>
    <update id="userchangename" parameterType="com.lieyan.Entity.User">
        UPDATE user
        SET nickName=#{nickName}
        WHERE openid = #{openid}
    </update>


    <!--通过id找到相应的数据记录，并且删除他,这里接口几乎用不到，不过可能以后用户
    出现问题，可以通过删除再添加的操作来更新
    -->
    <delete id="userdelete">
        DELETE FROM
        user
        WHERE openid = #{openid}
    </delete>
<!--查询open-id是否存在-->
<!--    测试open-id-->
    <select id="useropenid" resultType="com.lieyan.Entity.User">
        SELECT  openid
        from user
    </select>
<!--这里是报名成功以后，获取到的user的报名类型，默认的是0，这里更signitem-->
    <update id="usersign" parameterType="com.lieyan.Entity.User">
        UPDATE user
        SET signitem=#{signitem}
        WHERE openid = #{openid}
    </update>

    <update id="bindteacher" parameterType="com.lieyan.Entity.User">
        UPDATE user
        SET bindteacher=#{bindteacher}
        WHERE openid = #{openid}
    </update>


</mapper>